<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="./favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
    <script type="module" crossorigin src="./assets/index.cf295e2b.js"></script>
    <link rel="modulepreload" href="./assets/vendor.3e35c285.js">
    <link rel="stylesheet" href="./assets/vendor.e1280a98.css">
    <link rel="stylesheet" href="./assets/index.c2e3b874.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
