<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="./favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
    <script type="module" crossorigin src="./assets/index.451b98eb.js"></script>
    <link rel="modulepreload" href="./assets/vendor.3e83eb86.js">
    <link rel="stylesheet" href="./assets/vendor.4756ae29.css">
    <link rel="stylesheet" href="./assets/index.93c79ca6.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
